.body-container {
    padding: 100px 50px;
    // border: 1px solid red;

    .discovery {
        width: 75%;
        margin: 0 auto;
        position: relative;
        .sun {
            width: 100%;
        }

        .sun-contents {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 50%;
            .top-square {
                display: flex;
                justify-content: space-between;
                width: 40%;
                margin: 0 auto;
            }

            .mid-square {
                color: white;
                line-height: 0;
                p{
                    font-size: 4rem;
                    letter-spacing: 0.09em;
                    font-weight: 700;
                }

                .together {
                    margin-top: -30px
                }
            }

            .bottom-square {
                display: flex;
                justify-content: space-between;
                width: 40%;
                margin: 0 auto;
                .arrows {
                    display: flex;
                    flex-direction: column;
                    margin-top: 125px;
                    .arrow {
                        // max-height: 50px;
                        max-width: 70px;
                        
                    }
                }
            }

            .smaller {
                max-height: 170px;
                max-width: 170px
            }
        }
    }


    .projects {
        color: white;
        font-size: 1.7rem;
       
        img {
            max-width: 800px;
        }

        

        p {
            max-width: 1000px;
            margin: 0 auto;
        }

        .project {
            background-color: #333333;
            max-width: 1200px;
            margin: 0 auto 150px auto;
            border-radius: 20px;
            padding-bottom: 50px;
            padding-top: 40px;

            div {
                text-align: left;
            }

            .header-div {
                display: flex;
                max-width: 1100px;
                margin: 0 auto;
                align-items: center;
                
                .logo {
                    max-height: 40px;
                    max-width: 40px;
                }
                p {
                    width: 100%;
                    margin-left: 10px;
                    font-size: 2.3rem;
                }
            }

            .description-container {
                max-width: 1000px;
                margin: 0 auto;

                .first-p {
                    margin-bottom: 50px
                }

                

                a {
                    color: #7dcd66;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    margin-top: 30px;

                    svg {
                        margin-right: 2%;  
                    }
                }
            }
        }
    }

    .contact {
        .text {
            color: white;
            h4 {
                font-size: 2.2rem
            }

            h2 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.4rem;
            }
        }

        .links {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                font-size: 3em;
                color: #7dcd66;
                margin: 0 30px
            }
        }
    }
}