.App {
  text-align: center;
  background-color: #0F181F;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.max-width {
  max-width: 1920px;
  margin: 0 auto;
  // border: 1px solid red
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


$tablet1200: 'only screen and (max-width:1200px)';
$tablet950: 'only screen and (max-width:950px)';
$tablet700: 'only screen and (max-width:700px)';
$mobile500: 'only screen and (max-width:500px)';

@import './components/header/Header.scss';
@import './components/body/Body.scss';
